# Demo of prometheus and grafana
version: '3.2'

services:
    # on one host
  prometheus:
    image: prom/prometheus-linux-amd64:latest
    expose:
      - 9090
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - prometheusdata:/prometheus
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml:ro
    links:
      - cadvisor:cadvisor
      - node-exporter:node-exporter
      - postgres-exporter:postgres-exporter
    depends_on:
      - cadvisor
      - node-exporter
      - postgres-exporter
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafanadata:/var/lib/grafana
      - ./dashboards:/dashboards
      - ./grafana.ini:/etc/grafana/grafana.ini
    expose:
      - 3000
    ports:
      - 3000:3000
    environment:
      GF_USERS_DEFAULT_THEME: dark
      GF_INSTALL_PLUGINS: grafana-clock-panel,grafana-simple-json-datasource
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SECURITY_ADMIN_PASSWORD: test
      #GF_SERVER_DOMAIN=myrul.com
      #GF_SMTP_ENABLED=true
      #GF_SMTP_HOST=smtp.gmail.com:587
      #GF_SMTP_USER=myadrress@gmail.com
      #GF_SMTP_PASSWORD=mypassword
      #GF_SMTP_FROM_ADDRESS=myaddress@gmail.com
    depends_on:
      - prometheus
    links:
      - prometheus:prometheus
    restart: unless-stopped
    
    
    # on each host:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    expose:
      - 9100
    
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
    - 8080:8080
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro
    # to collect data from docker on macos host:
    - /var/run/docker.sock:/var/run/docker.sock:rw
    restart: unless-stopped
    
  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    expose:
    - 9187
    ports:
    - 9187:9187
    links:
    - db
    restart: unless-stopped
    depends_on:
    - db
    environment:
      DATA_SOURCE_USER: "test"
      DATA_SOURCE_PASS: "test"
      DATA_SOURCE_URI: "db:5432?sslmode=disable"
      PG_auto-discover-databases: "true"
      
  db:
    image: postgres:10
    container_name: db
    expose:
    - 5432
    ports:
    - 5432:5432
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "test"
      POSTGRES_USER: "test"

volumes:
  prometheusdata:
    driver: local
  grafanadata:
    driver: local

